<!--Футер-->
<footer class="mt-5">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-4 col-12">
                <p class="text-center text-nowrap f-26"><span class="rl-line">Наш адрес</span></p>
                <ul class="text-center">
                    <li>Россия, г. Новосибирск</li>
                    <li>СНТ "Энергия-5", д.744</li>
                    <li>Визит в мастерскую по предварительной договоренности.</li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <p class="text-center text-nowrap f-26"><span class="rl-line">Контакты</span></p>
                <ul class="text-center">
                    <li><a href="tel:+7(383)263–41–54">+7 (383) 263–41–54</a></li>
                    <li><a href="tel:+7(903)900–41–54">+7 (903) 900–41–54</a></li>
                    <li><a href="mailto:axon15@yandex.ru">axon15@yandex.ru</a></li>
                    <li><a href="https://wa.me/79039004154">Whatsapp</a> / <a href="viber://chat?number=%2B79039004154">Viber</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <p class="text-center text-nowrap f-26"><span class="rl-line">Дополнительно</span></p>
                <ul class="text-center">
                    <li>Работаем ежедневно с 11:00 до 20:00</li>
                    <li>Наличный расчет, через Интернет и банк</li>
                    <li><a href="https://vk.com/grafika_2012">Наша группа в ВКонтакте</a></li>
                    <li><a href="https://www.instagram.com/maket154/">Наш Инстаграм</a></li>
                </ul>
            </div>

            <div class="divider m-0 mt-2 mb-2"></div>

            <div class="col-12 justify-content-between">
                <p class="text-center"><a href="/policy">Политика конфиденциальности</a></p>
            </div>

            <div class="col-12 justify-content-between">
                <p class="text-center">АБ Чертеж 2016 © Все права защищены</p>
            </div>
        </div>
    </div>
</footer>