<!--Форма-->
<div id="submittedMessageBox"></div>
<form action="/preimushchestva" method="POST" id="form" enctype="multipart/form-data">
    <h3 class="col-12 text-center pb-1">Закажите макет</h3>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="inputName">ФИО</label>
                <input name="name" type="text" class="form-control required" id="inputName" placeholder="Введите фамилию, имя и отчество">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="inputContacts">Ваши контакты</label>
                <input name="contacts" type="text" class="form-control required" id="inputContacts" placeholder="Введите номер телефона или email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="inputObject">Какой объект нужно сделать?</label>
                <input name="object" type="text" class="form-control required" id="inputObject" placeholder="Например, больница">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectScale">Масштаб макета:</label>
                <select class="form-control required" name="scale" id="selectScale">
                    <option value="" disabled selected hidden>Выберите масштаб</option>
                    <option value="1:50">1:50</option>
                    <option value="1:100">1:100</option>
                    <option value="1:200">1:200</option>
                    <option value="1:500">1:500</option>
                    <option value="Другой">Другой</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="inputSize">Размер макета:</label>
                <input name="size" type="text" class="form-control required" id="inputSize" placeholder="Введите размер макета">
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectDetailing">Степень детализации:</label>
                <select class="form-control required" name="detailing" id="selectDetailing">
                    <option value="" disabled selected hidden>Выберите степень</option>
                    <option value="Высокая">Высокая</option>
                    <option value="Средняя">Средняя</option>
                    <option value="Упрощенная">Упрощенная</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectBacklight">Нужна ли подсветка?</label>
                <select class="form-control required" name="backlight" id="selectBacklight">
                    <option value="" disabled selected hidden>Выберите</option>
                    <option value="Да">Да</option>
                    <option value="Нет">Нет</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectGlass">Нужен ли стеклянный колпак?</label>
                <select class="form-control required" name="glass" id="selectGlass">
                    <option value="" disabled selected hidden>Выберите</option>
                    <option value="Да">Да</option>
                    <option value="Нет">Нет</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="selectStand">Нужны ли ножки или тумба к подмакетнику?</label>
                <select class="form-control required" name="stand" id="selectStand">
                    <option value="" disabled selected hidden>Выберите</option>
                    <option value="Только ножки">Только ножки</option>
                    <option value="Только тумба">Только тумба</option>
                    <option value="Не нужны">Не нужны</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectShipping">Нужен ли транспортировочный кофр?</label>
                <select class="form-control required" name="shipping" id="selectShipping">
                    <option value="" disabled selected hidden>Выберите</option>
                    <option value="Да">Да</option>
                    <option value="Нет">Нет</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="form-group">
                <label for="selectDelivery">Нужна ли доставка?</label>
                <select class="form-control required" name="delivery" id="selectDelivery">
                    <option value="" disabled selected hidden>Выберите</option>
                    <option value="Да">Да</option>
                    <option value="Нет">Нет</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="textareaMessage">Примечания</label>
                <textarea class="form-control" name="areaMessage" id="textareaMessage" cols="30" rows="5" placeholder="Введите сообщение"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <p class="text-center">Изображения или файлы отправляйте на почту <a class="link" href="mailto:axon15@yandex.ru">axon15@yandex.ru</a>. Не забудьте указать в письме ваше имя, а также номер телефона.</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-2">
        <button class="button">Заказать</button>
    </div>
</form>