<div class="row">
    <h2 class="f-44 text-center">Макетная мастерская «АБ Чертеж» – макеты на все случаи жизни</h2>
    <div class="divider"></div>
    <div class="col-12 align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Ваша идея – наше исполнение</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Наша макетная мастерская в Новосибирске специализируется на изготовлении макетов любой сложности. Самый востребованный на сегодняшний день – архитектурный макет жилого комплекса. Макеты зданий для новостроек помогают сориентироваться в выборе. С их помощью продавец наглядно показывает покупателю расположение его будущей квартиры относительно двора и других квартир. Также для нас не составляет труда сделать для вас небольшой макет для подарка или макет внушительных размеров для выставки или презентации.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Для чего нужен макет</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Без макета сегодня не обходится ни одна отрасль промышленности. Строительство, транспорт, различные промышленные объекты – везде требуются макеты. Трудно представить отраслевую выставку без демонстрации разнообразных макетов. Благоустройство территорий также требует макетирования. Любой вид макета создадут квалифицированные сотрудники нашей мастерской.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Разнообразие макетов</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Наши макеты имеют разное направление. Мы создаем такие виды макетов, как:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-dotts">
                    <li>архитектурные;</li>
                    <li>ландшафтные;</li>
                    <li>промышленные;</li>
                    <li>концептуальные;</li>
                    <li>подарочные;</li>
                    <li>макеты с интерактивной подсветкой.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Мы изготавливаем макеты в собственном цехе, это позволяет нам контролировать весь процесс, а вам – не переплачивать за посредничество.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Наши цены доступны</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    В работе мы ценим честность и надежность. Мы сразу рассчитываем конечную стоимость макета вашего объекта и никогда не меняем цену в процессе работы. Вы сразу знаете, сколько потратите на макет.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">С нами работать удобно</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Мы заботимся о клиентах, изготавливаем макеты высокого качества, обладаем рядом преимуществ:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-dotts">
                    <li>От вас нужна только идея – мы воплотим ее в жизнь, творчески реализуем;</li>
                    <li>Нас отличает высокая мобильность – приедем в любое место для замеров, фотографирования или зарисовок;</li>
                    <li>Наша услуга – комплексная, помимо изготовления макета мы осуществляем его доставку и сборку;</li>
                    <li>Мы всегда на связи – в любое время вы можете позвонить или написать;</li>
                    <li>Мы держим вас в курсе дела в процессе изготовления макета – регулярно отправляем фотоотчеты;</li>
                    <li>Вы всегда сможете проконтролировать процесс работы непосредственно в нашем офисе или на производстве.</li>
                    <li>Мы обеспечиваем защиту макета при транспортировке на дальние расстояния – страховка позволяет не беспокоится о его сохранности при перевозке.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Дополнительные услуги</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Помимо изготовления макетов наша компания предлагает такие востребованные услуги как:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-dotts">
                    <li>Реставрация макета. Специалисты обследуют ваш макет, сделают вывод о возможности или невозможности реставрации. В случае положительного заключения части макета будут восстановлены, заново покрашены, изделие вновь приобретет презентабельный вид.</li>
                    <li>Доставка и сборка вашего макета. Транспортировка больших макетов требует специальных знаний. Мы знаем, как разобрать, упаковать и доставить даже очень большие конструкции. Компания предоставит грузчиков и транспорт. Даже при перевозке на большие расстояния ваш макет прибудет на место в целости и сохранности.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Наши гарантии</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Мы уверены в качестве и долговечности своих макетов, изготовленных из прочных материалов, поэтому даем гарантию на изделия от 6 месяцев, в зависимости от сложности и размера макета.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Как с нами работать</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Мы заботимся о клиентах, изготавливаем макеты высокого качества, обладаем рядом преимуществ:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-dotts">
                    <li>Вы ставите перед нами задачу. Предоставляете фотографии, чертежи (если есть) или указываете местность, макет которой хотите получить.</li>
                    <li>Мы создаем коммерческое предложение, в котором подробно прописываем все детали макета, их цену. Здесь учитываются абсолютно все моменты, включая стоимость защиты при транспортировке, доставки и сборки.</li>
                    <li>После согласования всех нюансов подписываем договор.</li>
                    <li>После этого мы делаем чертежи, выкройки, 3D модели, собираем, окрашиваем и монтируем макет.</li>
                    <li>При необходимости делаем подсветку, защитный короб, ножки.</li>
                    <li>Доставляем и собираем макет на месте (если данная услуга заказана).</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Наши сотрудники</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Процесс изготовления макетов – сложный и творческий. Мы создали команду единомышленников, людей творческих, влюбленных в свою работу. Высокий уровень профессионализма наших сотрудников позволяет создавать макеты, отвечающие всем современным требованиям. Со всеми актуальными новостями мы знакомим в сети вконтакте.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Как заказать макет</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="f-24 text-center">
                    Мы уверены в качестве и долговечности своих макетов, изготовленных из прочных материалов, поэтому даем гарантию на изделия от 6 месяцев, в зависимости от сложности и размера макета.
                </p>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Сделайте шаг навстречу вашей мечте!</span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Закажите макет прямо сейчас и получите подсветку  в подарок</span></div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div class="col-12 d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5">Наши преимущества</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><span class="underline">Закажите макет прямо сейчас и получите подсветку  в подарок</span></div>
            </div>
        </div>
    </div>

    <div class="divider"></div>
</div>