<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="col-md-3 col-12 d-flex justify-content-center justify-content-md-start">
            <a class="navbar-brand pl-md-5 mr-0" href="/">
                <img src="/images/logo/logo.svg" alt="logo" height="120">
            </a>
        </div>
        <button class="navbar-toggler col-12" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-9 col-12">
            <div class="collapse navbar-collapse justify-content-end pr-md-5" id="navbarNavDropdown">
                <div class="row">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Главная <span class="sr-only">(текущая)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/preimushchestva">Наши преимущества</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/otzyvy">Отзывы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/kontakty">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Макеты
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/makety/arkhitekturniy">Архитектурный макет</a>
                                <a class="dropdown-item" href="/makety/kontseptualniy">Концептуальный макет</a>
                                <a class="dropdown-item" href="/makety/landshaftniy">Ландшафтный макет</a>
                                <a class="dropdown-item" href="/makety/interaktivniy">Макет с интерактивной подсветкой</a>
                                <a class="dropdown-item" href="/makety/podarochniy">Подарочный макет</a>
                                <a class="dropdown-item" href="/makety/promyshlenniy">Промышленный макет</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chertezhi">Чертежи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/portfolio">Портфолио</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>