<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="col-md-3 col-12 d-flex justify-content-center justify-content-md-start">
            <a class="navbar-brand pl-md-5 mr-0" href="/">
                <img src="/images/logo/logo.svg" alt="logo" height="120">
            </a>
        </div>
        <button class="navbar-toggler col-12" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-9 d-md-block d-none">
            <div class="row">
                <div class="col-12">
                    <ul class="navbar-nav mr-md-5 d-flex justify-content-end align-items-center">
                        <li>
                            <a class="phone" href="tel:+7(383)263–41–54">+7 (383) 263–41–54</a>
                        </li>
                        <li class="ml-3 mr-3">
                            <a class="phone" href="tel:+7(903)900–41–54">+7 (903) 900–41–54</a>
                        </li>
                        <li>
                            <button class="button" data-toggle="modal" data-target="#callModal">Заказать звонок</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12 d-flex justify-content-center">
                    <div class="collapse navbar-collapse justify-content-center mr-2" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Главная <span class="sr-only">(текущая)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/preimushchestva">Наши преимущества</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/otzyvy">Отзывы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/kontakty">Контакты</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="layoutsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Макеты
                                </a>
                                <div class="dropdown-menu" aria-labelledby="layoutsDropdown">
                                    <a class="dropdown-item" href="/makety/arkhitekturniy_maket">Архитектурный макет</a>
                                    <a class="dropdown-item" href="/makety/kontseptualniy_maket">Концептуальный макет</a>
                                    <a class="dropdown-item" href="/makety/landshaftniy_maket">Ландшафтный макет</a>
                                    <a class="dropdown-item" href="/makety/interaktivniy_maket">Макет с интерактивной подсветкой</a>
                                    <a class="dropdown-item" href="/makety/podarochniy_maket">Подарочный макет</a>
                                    <a class="dropdown-item" href="/makety/promyshlenniy_maket">Промышленный макет</a>
                                </div>
                            </li>
                            <li class="nav-item">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="draftsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Чертежи
                                </a>
                                <div class="dropdown-menu" aria-labelledby="draftsDropdown">
                                    <a class="dropdown-item" href="/chertezhi/gotovye_chertezhi_po_graficheskomu_modelirovaniyu_i_inzhenernoy_grafike">Готовые чертежи по графическому моделированию и инженерной графике</a>
                                    <!--                                СКРЫТЫЕ ССЫЛКИ-->
                                    <a class="dropdown-item d-none" href="/chertezhi/perevod_chertezhey_s_bumazhnogo_nositelya_v_programmy">Перевод чертежей с бумажного носителя в программы</a>
                                    <a class="dropdown-item d-none" href="/chertezhi/chertezhi_karandashom_ot_ruki_na_bumage">Чертежи карандашом от руки на бумаге</a>
                                    <a class="dropdown-item d-none" href="/chertezhi/chertezhi_s_gotovykh_izdeliy">Чертежи с готовых изделий</a>
                                </div>
                            </li>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/portfolio">Портфолио</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="callModal" tabindex="-1" aria-labelledby="callModalLabel" aria-hidden="true">
            <div id="callSubmittedMessageBox"></div>
            <div class="modal-dialog">
                <div class="modal-content form-box">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="POST" id="callForm">
                            <h3 class="col-12 text-center pb-1" id="callModalLabel">Закажите звонок</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="callInputName">Имя</label>
                                        <input name="name" type="text" class="form-control required" id="callInputName" placeholder="Введите имя">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="callInputPhone">Номер телефона</label>
                                        <input name="phone" type="text" class="form-control required" id="callInputPhone" placeholder="Введите телефон">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="callTextareaMessage">Сообщение</label>
                                        <textarea class="form-control" name="areaMessage" id="callTextareaMessage" cols="20" rows="5" placeholder="Введите сообщение"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center pt-2">
                                <button class="button">Заказать звонок</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>