<div class="advantage">
    <div class="container">
        <div class="row m-sm-3 m-0">
            <ul class="breadcrumbs p-0">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    {{title}}
                </li>
            </ul>
        </div>

        <h2 class="col-12 text-center f-44 mb-3">Что такое макет и для чего нужно его изготовление?</h2>
        <p class="col-12 text-center f-18">Макет — это уменьшенная копия любого объекта (существующего и несуществующего), которую можно потрогать.</p>
        <p class="col-12 text-center f-18">Макет — это оригинальный подарок. Имея макеты зданий или оборудования, можно организовать хорошую рекламную кампанию; с помощью макетов можно продавать объекты и привлекать инвесторов. К тому же наличие качественных макетов позволяет участвовать в выставках.</p>
        <p class="col-12 text-center f-18">Изготовление макетов — это отнюдь не конвейерная деятельность. Процесс изготовления макетов зданий и оборудования — кропотливая и творческая работа, поскольку для производства 3Д макетов требуется значительное количество времени и высокий уровень профессионализма.</p>
        <p class="col-12 text-center f-18">Наша мастерская предлагает изготовление макетов по любым чертежам вне зависимости от масштаба и уровня сложности. Для изготовления макетов мы используем различные материалы ― от картона и дизайнерской бумаги до пластиков.</p>

        <div class="divider"></div>

        <div class="row justify-content-center g-5">
            <h2 class="col-12 mb-5 text-center">Плюсы работы с нами</h2>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/idea-svgrepo-com.svg" alt="idea">
                    <p class="mt-3 font-weight-bold">Идейность</p>
                    <p>Мы сделаем макет даже если нет чертежей, но есть идея. Вы ставите задачу, а мы предлагаем идеи для ее реализации.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/car-svgrepo-com.svg" alt="mobility">
                    <p class="mt-3 font-weight-bold">Мобильность</p>
                    <p>Мы можем приехать в любое место, в любое время. Осмотреть территорию, например. Сделать зарисовки, если нельзя фотографировать.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/24-hours-all-svgrepo-com.svg" alt="24hours">
                    <p class="mt-3 font-weight-bold">Контактность и лояльность</p>
                    <p>Мы доступны в любое время по телефонам и электронной почте. С нами в любой момент можно обсудить заказ или запросить фото-видео отчет. Мы идем навстречу клиентам по срокам и стараемся найти оптимальный вариант по бюджету. Предоставляем рассрочку платежей.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/racing-speed-svgrepo-com.svg" alt="loyalty">
                    <p class="mt-3 font-weight-bold">Точность и скорость расчета </p>
                    <p>Смета по Вашему макету готовится в течение пары часов с точностью до копейки. Вам не надо ждать сутками, но и эти два часа нам необходимы для просчета, так как сказать стоимость «примерно» - это взять ее «из космоса»</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/toolbox-repair-box-tool-box-toolboxes-toolkit-tools-equipment-svgrepo-com.svg" alt="blueprint">
                    <p class="mt-3 font-weight-bold">Собственное оборудование</p>
                    <p>В нашей мастерской используется новейшее собственное оборудование. Начиная от лазерного станка, заканчивая фотополимерными принтерами. Это существенно снижает стоимость по сравнению с конкурентами.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/deal-svgrepo-com.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">За честный бизнес</p>
                    <p>Мы за честный бизнес! Все финансовые операции проходят через расчетный счет. Все сотрудники трудоустроены. Мы можем предоставить все документы по налоговой добросовестности.</p>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <h2 class="text-center">Как построена работа по макетам</h2>

        <div class="row how-build mt-5">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">1</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Поставлена задача - сделать макет</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">У вас есть какие-либо чертежи, фотографии, рисунки оборудования, здания либо другого объекта, который требуется смоделировать, или нет вообще ничего, кроме вашей территории, которую необходимо отобразить на макете.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">2</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Расчет стоимости и составление технического задания</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Изначально вы рассказываете нам, что хотите сделать, на основании этого мы делаем техзадание, в котором прописывается все: от степени детализации до всевозможных подсветок. Мы прописываем стоимость каждого объекта на макете, включая (при необходимости) подсветки, транспортировочный кофр, защитный колпак, стол, доставку, сборку. Согласовываем и подписываем договор.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">3</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Моделирование и чертежи</p>
                        </div>
                        <div class="row justify-content-center">
                            <p class="text-center text-lg-left">Создаем всевозможные 3D модели и выкройки, чертим и рисуем.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">4</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Окраска и сборка</p>
                        </div>
                        <div class="row justify-content-center">
                            <p class="text-center text-lg-left">Собираем модели, окрашиваем, монтируем на поверхность</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">5</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Подсветка, защитный короб, подмакетник, ножки</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Делаем при необходимости подсветку, защитный короб, подмакетник, ножки.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">6</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Доставка и сборка на объекте</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">При необходимости — доставляем объект на место, делаем сборку на месте. Нам не важно, где это будет — в строящемся объекте или на выставке.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="/portfolio" class="button">
                    Смотреть портфолио
                </a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row justify-content-center">
            <div class="form-box">
                {{>form}}
            </div>
        </div>
    </div>
</div>