<div class="advantage">
    <div class="container">
        <div class="row m-3">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    {{title}}
                </li>
            </ul>
        </div>
        <div id="firstCarousel" class="carousel slide mb-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#firstCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#firstCarousel" data-slide-to="1"></li>
                <li data-target="#firstCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/example.png" class="d-block w-100 img-fluid" alt="example">
                </div>
                <div class="carousel-item">
                    <img src="images/example.png" class="d-block w-100 img-fluid" alt="example">
                </div>
                <div class="carousel-item">
                    <img src="images/example.png" class="d-block w-100 img-fluid" alt="example">
                </div>
            </div>
            <a class="carousel-control-prev" href="#firstCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="carousel-control-next" href="#firstCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>

        <div class="divider"></div>

        <h2 class="col-12 text-center mb-3">Что такое макет и для чего нужно его изготовление?</h2>
        <p class="col-12 text-center f-18">Макет — это уменьшенная копия любого объекта (существующего и несуществующего), которую можно потрогать.</p>
        <p class="col-12 text-center f-18">Макет — это оригинальный подарок. Имея макеты зданий или оборудования, можно организовать хорошую рекламную кампанию; с помощью макетов можно продавать объекты и привлекать инвесторов. К тому же наличие качественных макетов позволяет участвовать в выставках.</p>
        <p class="col-12 text-center f-18">Изготовление макетов — это отнюдь не конвейерная деятельность. Процесс изготовления макетов зданий и оборудования — кропотливая и творческая работа, поскольку для производства 3Д макетов требуется значительное количество времени и высокий уровень профессионализма.</p>
        <p class="col-12 text-center f-18">Наша мастерская предлагает изготовление макетов по любым чертежам вне зависимости от масштаба и уровня сложности. Для изготовления макетов мы используем различные материалы ― от картона и дизайнерской бумаги до пластиков.</p>

        <div class="divider"></div>

        <div class="row justify-content-center g-5">
            <h2 class="col-12 mb-5 text-center">Плюсы работы с нами</h2>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Контактность</p>
                    <p>Мы доступны в любое время по телефонам и электронной почте. С нами в любой момент можно обсудить заказ.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Мобильность</p>
                    <p>Мы можем приехать в любое место, в любое время. Осмотреть территорию, например. Сделать зарисовки, если нельзя фотографировать.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Идейность</p>
                    <p>Вы ставите задачу, а мы предлагаем идеи для ее реализации.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Лояльность в ценообразовании и точность расчета</p>
                    <p>Мы сделаем макет даже если нет чертежей. </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Мы не посредники</p>
                    <p>Изготовление макетов осуществляет непосредственно наш цех, мы ничего ни у кого не перезаказываем, как это частенько бывает в сфере рекламы. Это напрямую влияет на цены и качество.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Гарантия</p>
                    <p>Мы даем гарантию на макет от 6 месяцев, так как знаем, что наши макеты крепкие.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-12">
                <div class="advantage-plus m-0">
                    <img src="images/icons/secure.svg" alt="secure">
                    <p class="mt-3 font-weight-bold">Гостеприимность</p>
                    <p>Нас можно посетить в любой момент работы — так сказать, проконтролировать процесс. Приехать можно либо в офис, либо на само производство, которое находится в 20 минутах езды от офиса. Также мы отправляем фотоотчеты.</p>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <h2 class="text-center">Как построена работа по макетам</h2>

        <div class="row how-build mt-5">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">1</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Поставлена задача - сделать макет</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">У вас есть какие-либо чертежи, фотографии, рисунки оборудования, здания либо другого объекта, который требуется смоделировать, или нет вообще ничего, кроме вашей территории, которую необходимо отобразить на макете.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">2</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Расчет стоимости и составление технического задания</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Изначально вы рассказываете нам, что хотите сделать, на основании этого мы делаем техзадание, в котором прописывается все: от степени детализации до всевозможных подсветок. Мы прописываем стоимость каждого объекта на макете, включая (при необходимости) подсветки, транспортировочный кофр, защитный колпак, стол, доставку, сборку. Согласовываем и подписываем договор.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">3</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Моделирование и чертежи</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Создаем всевозможные 3D модели и выкройки, чертим и рисуем.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">4</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Окраска и сборка</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Собираем модели, окрашиваем, монтируем на поверхность</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">5</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Подсветка, защитный короб, подмакетник, ножки</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">Делаем при необходимости подсветку, защитный короб, подмакетник, ножки.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="col-md-2 col-12 d-flex justify-content-center d-md-block">
                        <span class="rl-line">6</span>
                    </div>
                    <div class="col-md-10 col-12">
                        <div class="row justify-content-center justify-content-lg-start">
                            <p class="font-weight-bold underline text-center text-lg-left">Доставка и сборка на объекте</p>
                        </div>
                        <div class="row">
                            <p class="text-center text-lg-left">При необходимости — доставляем объект на место, делаем сборку на месте. Нам не важно, где это будет — в строящемся объекте или на выставке.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-12 text-center">
                <a href="/portfolio" class="btn btn-primary">
                    Смотреть портфолио
                </a>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <h2 class="col-12 text-center">Для облегчения заполнения формы заказа, в примечании, ответьте на следующие вопросы:</h2>
            <ul class="col-12 list-unstyled text-center">
                <li>1. Какой объект нужно сделать?</li>
                <li>2. Масштаб макета:
                    <ul class="list-unstyled">
                        <li>а) 1:100</li>
                        <li>б) 1:200</li>
                        <li>в) 1:500</li>
                        <li>г) 1:50</li>
                        <li>д) другой</li>
                    </ul>
                </li>
                <li>3. Размер макета:</li>
                <li>4. Степень детализации:
                    <ul class="list-unstyled">
                        <li>а) высокая</li>
                        <li>б) средняя</li>
                        <li>в) упрощенная</li>
                    </ul>
                </li>
                <li>5. Нужна ли подсветка?</li>
                <li>6. Нужен ли стеклянный колпак?</li>
                <li>7. Нужны ли ножки к подмакетнику?</li>
                <li>8. Нужен ли транспортировочный кофр?</li>
                <li>9. Нужна ли доставка?</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="row justify-content-center">
            <div class="form-box">
                {{>form}}
            </div>
        </div>
    </div>
</div>