<div class="container">
    <div class="row">
        <h2 class="f-44 text-center">Архитектурный макет</h2>
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                В настоящее время востребованность архитектурных макетов растет. Они требуются при строительстве зданий и сооружений, создании интерьеров и планировок, обустройстве территорий.
            </p>
        </div>
    </div>
</div>