<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>

    <h2 class=" col-12 f-44 text-center">Концептуальный макет</h2>

    <div class="arch-carousel mb-5">
        <img src="../images/maket/concept/5. 422a83f4-dac9-48ca-a8a0-0ac4c52e3c32.webp" class="d-block w-100" alt="example">
    </div>

    <div class="row">
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                Создание любого архитектурно – строительного проекта начинается с идеи. Замысел, воплощенный в чертежах, рисунках, эскизах нужно донести до широкой публики Для этих целей лучше всего подходит концептуальный макет, который превращает плоское изображение в наглядную объемную модель.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Что представляет собой концептуальный макет</h2>
            <p class="f-24 text-center">
                Этот макет дает представление о концепции объекта, показывает идею. Такие макеты не требуют тщательной детализации, акцент делается на общей форме проекта. Их главная задача – показать возможности проектируемого объекта, передать архитектурный замысел создателей.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">В каких случаях требуется создание концептуального макета</h2>
            <p class="f-24 text-center">
                В основном, концептуальные макеты востребованы в области градостроительства и проектирования. С их помощью весь проект или его часть демонстрируется заказчику. Они позволяют показать особенности разработки проекта даже на начальном этапе. Заказчику могут быть представлены несколько вариантов концептуальных макетов, чтобы он мог выбрать наиболее интересный, на его взгляд, проект.
            </p>
            <p class="f-24 text-center">
                Кроме того, такие макеты востребованы в следующих случаях:
            </p>
            <ul>
                <li>в качестве планировочного макета, показывающего местность с высоты птичьего полета;</li>
                <li>как наглядное пособие в детских творческих центрах, музеях – с их помощью можно заинтересовать ребенка, красиво и точно передать любую мысль;</li>
                <li>в качестве экспоната выставки – передает максимум информации даже при беглом знакомстве с ним, позволяет заинтересовать потенциального клиента или инвестора при минимальном времени изучения;</li>
                <li>при выполнении дизайн-проекта объекта в различных областях (ландшафтный дизайн, оформление интерьера, рекламные объекты).</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Особенности концептуального макета</h2>
            <p class="f-24 text-center">
                Макет передает основные особенности разработки проекта, его идею. Здесь не важна передача объекта с фотографической точностью, его детализация.
            </p>
            <ul>
                <li>Главная особенность такого макета – простота исполнения.</li>
                <li>Многие детали выполняется схематично.</li>
                <li>Часто макет создается из монохромного материала (белого или прозрачного).</li>
                <li>Может включать элементы интерактивных технологий, подсветку, движущиеся механизмы.</li>
            </ul>
            <p class="f-24 text-center">
                <strong>Макетная мастерская «АБ Чертеж»</strong> изготовит для вас красочный интерактивный концептуальный макет, который несомненно вызовет интерес у потенциальных клиентов или инвесторов.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Преимущества концептуального макета</h2>
            <p class="f-24 text-center">
                Использование такого макета несет неоспоримые выгоды в ряде случаев:
            </p>
            <ul>
                <li>если нужно познакомить с проектом потенциальных партнеров, которые не могут вникнуть в детали в силу разных обстоятельств, им демонстрируется макет без технических подробностей;</li>
                <li>при необходимости продемонстрировать идею проекта, чтобы заинтересовать инвесторов;</li>
                <li>если нужно подготовить презентацию объекта, а для создания полноценного архитектурного макета нет времени.</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать макет в Новосибирске</h2>
            <p class="f-24 text-center">
                <strong>Макетная мастерская «АБ Чертеж»</strong> сделает для вас концептуальный макет в установленные сроки. Наши специалисты изготовят макет, который максимально раскроет замысел, позволит наглядно продемонстрировать идею. В работе мы применяем фрезерную резку и сочетание объемной 3D и плоскостной УФ печати. Мы делаем макеты из шпона, дерева, качественных пластиков ПВХ, используем архитектурные пленки, при необходимости дополняем звуковыми, световыми, движущимися элементами. Дополнительно можем изготовить защитный колпак или кофр для транспортировки. Мы можем грамотно упаковать ваш макет и доставить в указанное место. Также мы оформляем страховку при перевозке макета на большие расстояния.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Как сделать заказ</h2>
            <p class="f-24 text-center">
                Позвоните по телефону (383) 263–41–54, или заполните форму обратной связи. Наши менеджеры свяжутся с вами в ближайшее время для уточнения деталей.
            </p>
            <p class="f-24 text-center">
                <strong>Звоните и заказывайте! Мы всегда на связи.</strong>
            </p>
        </div>

        <div class="divider"></div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>