<div class="row">
    <h2>Наши контакты</h2>
    <div class="col-lg-3 col-sm-6 col-12">
        <p class="text-center text-nowrap f-24">Дополнительно</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <p class="text-center text-nowrap f-24">Дополнительно</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <p class="text-center text-nowrap f-24">>Дополнительно</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <p class="text-center text-nowrap f-24">Дополнительно</p>
    </div>
</div>