<div class="container contacts">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>
    <div class="row">
        <h2 class="col-12 text-center">Наши контакты</h2>
        <div class="col-lg-3 col-sm-6 col-12">
            <p class="text-center text-nowrap f-24 mt-3 font-weight-bold">Телефон</p>
            <ul class="text-center f-20">
                <li><span><img src="images/icons/phone.svg" alt="phone"></span><a href="tel:+7(383)263–41–54">+7 (383) 263–41–54</a></li>
                <li><span><img src="images/icons/phone.svg" alt="phone"></span><a href="tel:+7(903)900–41–54">+7 (903) 900–41–54</a></li>
                <li><span><img src="images/icons/whatsapp-svgrepo-com.svg" alt="phone"></span><a href="https://wa.me/79039004154">WhatsApp</a></li>
                <li><span><img src="images/icons/viber-svgrepo-com.svg" alt="phone"></span><a href="viber://chat?number=%2B79039004154">Viber</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <p class="text-center text-nowrap f-24 mt-3 font-weight-bold">Адрес</p>
            <ul class="text-center f-20">
                <li><span class="position-absolute l-0 d-none d-sm-block"><img src="images/icons/point.svg" alt="point"></span>г. Новосибирск СНТ "Энергия-5", д.744</li>
                <li>Визит в мастерскую  по предварительной договоренности</li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <p class="text-center text-nowrap f-24 mt-3 font-weight-bold">Почта</p>
            <ul class="text-center f-20">
                <li><span><img src="images/icons/mail.svg" alt="mail"></span><a href="mailto:axon15@yandex.ru">axon15@yandex.ru</a></li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
            <p class="text-center text-nowrap f-24 mt-3 font-weight-bold">Социальные сети</p>
            <ul class="text-center f-20">
                <li><span><img src="images/icons/vk.svg" alt="vk"></span><a href="https://vk.com/grafika_2012">Группа VK</a></li>
                <li><span><img src="images/icons/instagram.svg" alt="instagram"></span><a href="https://www.instagram.com/maket154/">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 d-flex justify-content-center embed-responsive embed-responsive-16by9">
            <iframe class="contacts-map embed-responsive-item" src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab5ca28abf2f4884052dc7452f0081719c23bed0b2c4c9cd85ec5d3223d68e0be&amp;source=constructor" width="1280" height="720" frameborder="2"></iframe>
        </div>
    </div>
</div>