<div class="container">
    <ul class="project-list list-unstyled f-38">
        {{#each projects}}
            <li>
                <a href="/portfolio/edit/{{this.id}}">{{this.name}}</a>
            </li>
            <div class="divider"></div>
        {{/each}}
    </ul>
</div>