<div class="container">
    <ul>
        {{#each projects}}
            <li class="list-unstyled">
                <a href="/portfolio/edit/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
</div>