<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>

    <h2 class=" col-12 f-44 text-center">Подарочный макет</h2>

    <div id="archCarousel" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#archCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#archCarousel" data-slide-to="1"></li>
            <li data-target="#archCarousel" data-slide-to="2"></li>
            <li data-target="#archCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner arch-carousel">
            <div class="carousel-item active">
                <img src="../images/maket/podar/14. be73ad09-f7e9-4cd9-86a5-344e0b76835e.webp" class="d-block w-100" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/maket/podar/20. 462dc00b-36ae-4d43-8b02-1dc06b0b22cf.webp" class="d-block w-100" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/maket/podar/29. 8015209a-d228-4058-a4e9-8ac755c3b289.webp" class="d-block w-100" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/maket/podar/8. bd6e59a1-8d60-4204-a193-6869f9954f1a.webp" class="d-block w-100" alt="example">
            </div>
        </div>
        <a class="carousel-control-prev" href="#archCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#archCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <div class="row">
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                С помощью подарка можно выразить признательность, напомнить о себе. Зачастую трудно подобрать подходящий подарок, особенно если речь идет о коллегах и деловых партнерах. Решить этот сложный вопрос можно с помощью подарочного макета, который будет уместным сувениром как в деловой, так и в личной сфере. Такой подарок выглядит презентабельно и выделяется на фоне других презентов.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Что такое подарочный макет</h2>
            <p class="f-24 text-center">
                Подарочный макет представляет собой копию предметов, зданий, исторических и архитектурных достопримечательностей, территорий. <strong>Любой предмет может стать объектом для такого макета</strong>. Популярные макеты для подарков относятся к областям:
            </p>
            <ul>
                <li>архитектуры;</li>
                <li>градостроительства;</li>
                <li>ландшафта;</li>
                <li>вооружения;</li>
                <li>автомобильного транспорта;</li>
                <li>авиации;</li>
                <li>железных дорог</li>
            </ul>
            <p class="f-24 text-center">
                Востребованы подарочные макеты домов, автомобилей, кораблей, железнодорожных составов, оружия и военной техники. Эти макеты могут быть украшены логотипами или другими обозначениями фирменного стиля.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">В каких случаях востребованы подарочные макеты</h2>
            <p class="f-24 text-center">
                Такие макеты можно дарить в качестве личного подарка. В этих случаях обычно заказывают точные копии зданий, мостов, раритетных автомобилей. Часто подарочный макет является уменьшенной копией основного макета (архитектурного или ландшафтного), а также копией производимых изделий (автомобилей, самолетов, железнодорожных составов). Их могут преподносить на выставках и презентациях потенциальным заказчикам, инвесторам, клиентам и партнерам.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Особенности макета</h2>
            <ul>
                <li>Хороший подарочный макет должен запоминаться, быть красивым и интересным.</li>
                <li>Большую роль играет качественное выполнение всех его деталей.</li>
                <li>Если такой макет имеет упаковку, она также должна быть продумана и соответствовать идее.</li>
                <li>Для создания качественного макета используются такие материалы как: пластик высокого качества, акриловое стекло.</li>
                <li>Подарочный макет может быть как статичным, так и динамичным. Он может включать механические элементы, подсветку.</li>
                <li>Уровень детализации в подобных макетах может быть разным.Все зависит от цели, материалов создания, фантазии создателя. Часто макеты с невысокой детализацией могут быть очень привлекательными, особенно если материалом для их изготовления является стекло.</li>
                <li>Уровень детализации в подобных макетах может быть разным.Все зависит от цели, материалов создания, фантазии создателя. Часто макеты с невысокой детализацией могут быть очень привлекательными, особенно если материалом для их изготовления является стекло.</li>
                <li>Масштаб подарочного макета может быть разным, важно учитывать, что на большой копии легче выполнить качественную детализацию, чем на маленькой.</li>
            </ul>
            <p class="f-24 text-center">
                В <strong>Макетной Мастерской «АБ Чертеж»</strong> мы изготовим подарочный макет с использованием сочетания объемной 3D и плоскостной УФ печати, фрезерования и лазерной резки.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Этапы создания подарочных макетов</h2>
            <ul>
                <li>Для создания качественного макета необходимо изучить чертежи объекта и понять, для каких целей создается данный подарок. Это поможет подобрать верный стиль и манеру исполнения.</li>
                <li>Затем создается трехмерная виртуальная модель объекта и разрабатывается подробный план производства. Он учитывает последовательность сборки, цвет и фактуру поверхностей.</li>
                <li>На основе плана создаются детали макета.</li>
                <li>Готовые детали монтируют между собой, окрашивают, добавляют спецэффекты.</li>
            </ul>
            <p class="f-24 text-center">
                <strong>Наши специалисты могут создать подарочный макет любого объекта разного масштаба и уровня детализации.</strong> Мы внимательно изучаем запросы клиентов, создаем подарочные макеты полностью соответствующие их пожеланиям.При необходимости можем сфотографировать объект самостоятельно для дальнейшей работы с ним.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать подарочный макет в Новосибирске</h2>
            <p class="f-24 text-center">
                В <strong>Макетной Мастерской «АБ Чертеж».</strong> работают квалифицированные сотрудники, мастера своего дела. Сочетание современного технического оборудования и материалов высокого качества позволяют <strong>создавать яркие и запоминающиеся подарочные макеты</strong>. По желанию заказчика мы дополним сувенирный макет механическими, световыми и звуковыми элементами.
            </p>
            <p class="f-24 text-center">
                Мы строго соблюдаем конфиденциальность заказа, никогда не публикуем в открытом доступе фото или видео изготовленного макета без согласования с заказчиком.
            </p>
            <p class="f-24 text-center">
                Чтобы заказать макет, позвоните нам по телефону  (383) 263–41–54 или заполните форму обратной связи. Наши менеджеры свяжутся с вам, уточнят детали, ответят на все интересующие вопросы.
            </p>
            <p class="f-24 text-center">
                <strong>Мы создадим для вас красивый и оригинальный подарочный макет!</strong>
            </p>
        </div>

        <div class="divider"></div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>