<div class="container">
    <div class="row">
        <h2 class=" col-12 f-44 text-center">Макет с интерактивной подсветкой </h2>
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                Современные маркетинговые исследования показывают, что статичные презентации объектов, товаров, услуг становятся малоэффективными. Динамичные макеты привлекают внимание, повышают заинтересованность клиентов и увеличивают прибыль производителя. Живой и динамичной презентацию помогает сделать интерактивный макет.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Что представляет собой интерактивный макет</h2>
            <p class="f-24 text-center">
                Данный макет создается путем совмещения объемного макета с различными эффектами (световыми, звуковыми, видео, инфографикой). Такой макет наглядно демонстрирует жилые кварталы, автомобильные развязки или промышленные сооружения. В нем можно включить подсветку на нужных участках объекта, запустить различные механизмы, настроить звук. Все это делает информацию более наглядной и доступной для зрителя.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">В каких случаях выгодно использовать интерактивный макет</h2>
            <p class="f-24 text-center">
                Подобные макеты помогают легко и четко донести информацию. Часто зритель сам может выбирать, на какой части сосредоточить свое внимание и управляет эффектами самостоятельно (например, с телефона или планшета). Интерактивные макеты востребованы в различных областях.
            </p>
            <ul>
                <li>Архитектура и строительство – помогает детально отобразить объекты, отразить внешнее обрамление и внутреннюю планировку.</li>
                <li>Техника – позволяет продемонстрировать внутреннее устройство технических новинок.</li>
                <li>Выставки и презентации – упрощают понимание технически сложных инновационных проектов.</li>
                <li>Музеи – наглядно воспроизводят исторические достопримечательности.</li>
            </ul>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Интерактивная подсветка в макетах</h2>
            <p class="f-24 text-center">
                Для подсветки в интерактивных макетах используют светодиоды или светодиодные ленты. Освещение помогает сделать акцент на транспортных развязках, показать векторы перемещения транспорта, грузов, добавить реалистичности архитектурным макетам. Существуют следующие виды подсветки макетов:
            </p>
            <ul>
                <li>Основное освещение – обычно это софиты, которые помещают по углам макета. Таких ламп может быть 2 или 4 и они хорошо освещают весь макет, позволяя увидеть даже самые небольшие детали.</li>
                <li>Уличное освещение – подсветка дорожек, заборов, беседок, скамеек. Интересно выглядят копии уличных фонарей и маленькие фонарики, демонстрирующее декоративное освещение территории.</li>
                <li>Внутреннее освещение зданий – помощью внутренней подсветки можно выделять квартиры, этажи, дома. С таким освещением макет приобретает максимальную реалистичность.</li>
                <li>Контурная подсветка – чаще всего используется при создании демонстрационного материала, позволяет показать транспортный узел, выделить границы участка.С помощью разноцветных светодиодов можно создать четкие и красивые границы.</li>
            </ul>
            <p class="f-24 text-center">
                При помощи освещения можно проводит интересные презентации объекта. Демонстрацией можно управлять с помощью пульта – изменять яркость объектов, менять освещение, подсвечивать поочередно разные части объекта. В Макетной Мастерской «АБ Чертеж» мы изготовим для вас качественный макет с интерактивной подсветкой, который безусловно привлечет интерес к вашему проекту. В работе мы используем светодиоды разной формы размером от 1 до 20 мм и более.  Для изготовления статичной подсветки добавляем в фотополимерную смолу люминофор и таким образом получаем эффект свечения.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Преимущества интерактивных макетов</h2>
            <p class="f-24 text-center">
                Подобные макеты выделяются на фоне статичных макетов, обладают рядом особенностей:
            </p>
            <ul>
                <li>привлекают внимание своим эффектным видом;</li>
                <li>благодаря наглядности точно доносят идею до аудитории;</li>
                <li>более информативны, чем обычные макеты;</li>
            </ul>
            <p class="f-24 text-center">
                Специалисты нашей макетной мастерской учтут все пожелания и изготовят интерактивный макет любого размера с большой точностью. Добиваться реалистичности объектов нам помогает рельефное текстурирование которое достигается при помощи 3D маппинга.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать макет в Новосибирске</h2>
            <p class="f-24 text-center">
                Сотрудники Макетной Мастерской «АБ Чертеж» имеют большой опыт в создании интерактивных макетов. Мы можем изготовить макет с разными вариантами подсветки:
            </p>
            <ul>
                <li>Внутренняя подсветка окон и зданий.</li>
                <li>Освещение фасадов.</li>
                <li>Фонарики и подсвеченные объекты на макете.</li>
                <li>Светящиеся зоны и границы участков.</li>
                <li>Освещение с помощью софитов</li>
            </ul>
            <p class="f-24 text-center">
                Также предлагаем сложный вариант макета с управляемым освещением. Мы создадим макет жилого комплекса с подсветкой корпусов, выбранных этажей, отдельных квартир. Такой макет управляется с помощью специального планшета, где отражается дополнительная информация о планировке подсвеченной квартиры или этажа.
            </p>
        </div>

        <div class="col-12 d-flex justify-content-center draft-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YOOir2Jugo0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-12">
            <p class="f-24 text-center">
                Наши макеты могут работать как от сети с напряжением 220 В, так и от вмонтированного внутрь заряжаемого аккумулятора. Это позволяет демонстрировать макет автономно, без подключения к сети, в любом удобном месте.
            </p>
            <p class="f-24 text-center">
                Для заказа позвоните по телефону (383) 263–41–54 или заполните форму обратной связи. С вами свяжется менеджер для подтверждения заказа и уточнения деталей.
            </p>
            <p class="f-24 text-center">
                Мы воплотим вашу идею в красивом качественном макете с интерактивной подсветкой!
            </p>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>