<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>

    <h2 class=" col-12 f-44 text-center">Ландшафтный макет</h2>

    <div id="landCarousel" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#landCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#landCarousel" data-slide-to="1"></li>
            <li data-target="#landCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
        </div>
        <a class="carousel-control-prev" href="#landCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#landCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>

    <div class="row justify-content-center">
        {{#each images}}
            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <img src="../images/maket/landshaft/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                При создании архитектурного макета большое внимание уделяется привязке здания (сооружения) к местности. Дизайн объекта должен вписываться в ландшафт, соответствовать окружающей его территории, органично ее дополнять. Для того, чтобы наглядно показать, насколько макет объекта соотноситься с окружающим ландшафтом, используется ландшафтный макет.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Что представляет собой ландшафтный макет</h2>
            <p class="f-24 text-center">
                Это макет здания или комплекса зданий в окружении природы, других зданий, полностью воссоздающий реальную картинку вокруг объекта. Благодаря ландшафтному макету появляется полное понимание того, как будет объект выглядеть в будущем.
            </p>
            <p class="f-24 text-center">
                Ландшафтный макет позволяет детализировать зоны отдыха и места общественного использования. Он наглядно показывает, где в парках и скверах будут размещены дорожки, скамейки, определяет места посадки растений.
            </p>
            <p class="f-24 text-center">
                При разработке архитектурного проекта новостройки, жилого комплекса, коттеджей ландшафтный макет демонстрирует заказчикам и инвесторам, насколько точно проект вписывается в окружающую местность, как будет выглядеть территория после окончания строительства.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">В каких случаях необходим ландшафтный макет</h2>
            <p class="f-24 text-center">
                Данный макет чаще всего нужен в следующих случаях:
            </p>
            <ul>
                <li>В качестве основного элемента при проектировании скверов, парков, других частей местности.</li>
                <li>В качестве вспомогательного элемента при проектировании домов, жилых и производственных комплексов, коттеджных поселков.</li>
                <li>Для демонстрации ландшафта, что востребовано при проектировании курортных зон. Ярким примером является проект горнолыжной зоны, презентация которого невозможна без ландшафтного макета.</li>
            </ul>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Особенности ландшафтного макета</h2>
            <p class="f-24 text-center">
                Данный макет имеет много мелких деталей. Все они должны быть тщательно прокрашены и прорисованы. Любая деталь в ландшафтном макете должна быть максимально приближена к натуральной, пусть и в меньшем масштабе. Для создания таких макетов требуется опыт и профессионализм, поэтому заказывать ландшафтный макет нужно у специалистов. В Новосибирске макеты для вас изготовят профессионалы <strong>Макетной мастерской « АБ Чертеж</strong>».
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Для каких объектов чаще всего требуется ландшафтный макет</h2>
            <p class="f-24 text-center">
                Ландшафтный макет – важный шаг на этапе любого строительства. С его помощью можно увидеть и устранить недостатки на этапе проектирования. Ни один чертеж не сможет передать идеи проекта так, как это сделает ландшафтный макет. Данный вид макетирования чаще всего востребован для:
            </p>
            <ul>
                <li>строящихся жилых комплексов;</li>
                <li>парков, скверов, зеленых зон;</li>
                <li>проектируемых предприятий;</li>
                <li>спортивных и торговых комплексов;</li>
                <li>поселков коттеджных, таунхаусов.</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Этапы создания ландшафтного макета</h2>
            <p class="f-24 text-center">
                Масштаб макета может быть разным, по степени сложности макет может быть простой, сложный и очень сложный, но создается ландшафтный макет всегда по одной схеме:
            </p>
            <ul>
                <li>Для начала из прочного материала изготавливается подмакетник, который будет держать на себе все части ландшафта. На него наносится подробная разметка в соответствии с эскизом.</li>
                <li>Далее на подмакетник, согласно разметке, набирается ландшафт. Очень важно точно подобрать материал, из которого будут набираться овраги, реки, ущелья, холмы и возвышенности.Чаще всего для этих целей используют пеноплекс.</li>
                <li>После того, как заготовка сделана, точно отражает все возвышенности и впадины, макет грунтуют и красят.</li>
                <li>После этого путем тщательной прорисовки мелких деталей создается рельеф, рисуются тропинки, дороги, водоемы, при необходимости макет дополняется травой, расставляются кустарники и деревья.</li>
            </ul>
            <p class="f-24 text-center">
                Ландшафтный макет должен иметь реалистичный вид, показывать привязку объекта к местности с лучшей стороны, демонстрировать прекрасный дизайн. Именно поэтому изготовление ландшафтного макета нужно поручать профессионалам.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать ландшафтный макет в Новосибирске</h2>
            <p class="f-24 text-center">
                Специалисты <strong>Макетной мастерской «АБ Чертеж»</strong> создадут для вас реалистичный ландшафтный макет, выполнят все работы, начиная от фотографирования или зарисовки местности до создания макета.
            </p>
            <ul>
                <li>У нас большой опыт в создании сложных ландшафтных макетов (коттеджные поселки, окруженные холмами, строительство домов в низине).</li>
                <li>Мы креативно подходим к решению проблемы заказчика, можем красиво обыграть в макете любые сложные проекты, что добавляет им стоимость.</li>
                <li>Для создания макетов нами используются качественные материалы.</li>
                <li>Современное оборудование позволяет реалистично изготовить даже самые мелкие детали.</li>
                <li>Собственное производство исключает переплату посредникам и позволяет заказчику следить за ходом работ на любом этапе.</li>
                <li>Мы внимательно рассматриваем пожелания каждого клиента и воплощаем их в макете.</li>
                <li>Наши ландшафтные макеты отличаются высокой степенью точности и художественным вкусом.</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Наши технологии</h2>
            <p class="f-24 text-center">
                Мы изготавливаем детали макета на современном оборудовании с ЧПУ –  производим резку и наборку высот, выполняем 3D фрезерование. С помощью нашего оборудования фрезеруем материал с точностью до 0,01 мм. При наличии топосъемки у заказчика наш ландшафтный макет повторяет оригинал с высокой точностью.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Как заказать ландшафтный макет</h2>
            <p class="f-24 text-center">
                Позвоните нам по телефону (383) 263–41–54 или заполните форму обратной связи. Наши менеджеры свяжутся с вами для уточнения деталей.
            </p>
        </div>

        <div class="divider"></div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>