<div class="container">
    <div class="col-12 align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="title f-38 text-center mb-5"><strong>Отзывы о нас</strong></div>
                <a class="flamp-widget" href="//novosibirsk.flamp.ru/firm/ab_chertjozh_maketnaya_masterskaya-70000001051948812"  data-flamp-widget-type="responsive-new" data-flamp-widget-id="70000001051948812" data-flamp-widget-width="100%" data-flamp-widget-count="3">Отзывы о нас на Флампе</a>
            </div>
        </div>
    </div>
</div>