<div class="container">
    <div class="row justify-content-center mb-5 mt-5">
        <form action="/portfolio/add" method="post" enctype="multipart/form-data">
            {{#if maxFiles}}
                <div class="alert alert-danger text-center">{{maxFiles}}</div>
            {{/if}}
            {{#if addSuccess}}
                <div class="alert alert-success text-center">{{addSuccess}}</div>
            {{/if}}
            <div class="form-group">
                <label for="projectName">Название проекта</label>
                <input name="projectName" type="text" id="projectName" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectType">Тип макета</label>
                <select name="projectType" type="text" id="projectType" class="form-control">
                    <option value="Архитектурный макет">Архитектурный макет</option>
                    <option value="Концептуальный макет">Концептуальный макет</option>
                    <option value="Ландшафтный макет">Ландшафтный макет</option>
                    <option value="Макет с интерактивной подсветкой">Макет с интерактивной подсветкой</option>
                    <option value="Подарочный макет">Подарочный макет</option>
                    <option value="Промышленный макет">Промышленный макет</option>
                    <option value="Прочее">Прочее</option>
                </select>
            </div>
            <div class="form-group">
                <label for="projectScale">Масштаб</label>
                <input name="projectScale" type="text" id="projectScale" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectSize">Размер</label>
                <input name="projectSize" type="text" id="projectSize" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectTime">Срок изготовления</label>
                <input name="projectTime" type="text" id="projectTime" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectCustomer">Заказчик</label>
                <input name="projectCustomer" type="text" id="projectCustomer" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectCustomerUrl">Ссылка на заказчика</label>
                <input name="projectCustomerUrl" type="text" id="projectCustomerUrl" class="form-control">
            </div>
            <div class="form-group">
                <label for="projectDescription">Описание проекта</label>
                <textarea name="projectDescription" type="text" id="projectDescription" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="projectImages">Добавьте изображения (до 5 шт)</label>
                <input name="projectImages" type="file" id="projectImages" class="form-control" multiple>
                <label for="projectImages">Остальные добавьте в редактировании проекта</label>
            </div>
            <div class="form-group">
                <button type="submit" class="button">Добавить</button>
            </div>
        </form>
    </div>
</div>