<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12 f-40 font-weight-bold text-center pb-5">Наше портфолио</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="archCarousel" class="carousel slide mb-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#archCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#archCarousel" data-slide-to="1"></li>
                    <li data-target="#archCarousel" data-slide-to="2"></li>
                    <li data-target="#archCarousel" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner arch-carousel">
                    <div class="carousel-item active">
                        <img src="../images/maket/arch/1. 2ee07e6e-8352-4732-9c31-b2f1ec54c5d6.webp" class="d-block w-100" alt="example">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#archCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#archCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
