<div class="container">
    <div class="row m-3">
        <ul class="breadcrumbs">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>
</div>