<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>

    <h2 class=" col-12 f-44 text-center">Промышленный макет</h2>

    <div id="promCarousel" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#promCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#promCarousel" data-slide-to="1"></li>
            <li data-target="#promCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
            <div class="carousel-item">
                <img src="../images/example.png" class="d-block w-100 img-fluid" alt="example">
            </div>
        </div>
        <a class="carousel-control-prev" href="#promCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Предыдущий</span>
        </a>
        <a class="carousel-control-next" href="#promCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Следующий</span>
        </a>
    </div>
    

    <div class="row justify-content-center">
        {{#each images}}
            <div class="col-lg-4 col-md-6 col-12 mb-3">
                <img src="../images/maket/promish/{{this}}" alt="draft" class="w-100 d-block img-fluid small-image">
            </div>
        {{/each}}
    </div>

    <div class="row">
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                Создание объекта начинается с проекта. От того, насколько привлекательным будет проект, зависит скорость его реализации, возможность финансирования. Показать плюсы будущего объекта, тщательно продумать технические моменты его создания помогает промышленный макет.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Что такое промышленный макет</h2>
            <p class="f-24 text-center">
                Промышленный макет – копия предприятия, созданная в уменьшенном масштабе. Такие макеты создают при проектировании комбинатов, фабрик, заводских комплексов. Они могут отображать здания и сооружения в комплексе, инфраструктуру предприятия (общий) или воспроизводить отдельные цеха, котельные, вспомогательные постройки, оборудование (детальный) . Часто общий и детальный макеты сочетаются в одном изделии. Промышленные макеты могут также демонстрировать возможности действующего производства.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Для каких целей создается промышленный макет</h2>
            <p class="f-24 text-center">
                Макет промышленного объекта или отдельных деталей демонстрирует технические и конструктивные особенности. Изготовление макета требуется для:
            </p>
            <ul>
                <li><strong>Презентации</strong> – демонстрация возможностей планируемого производственного комплекса помогает привлечь инвестирование и наглядно показать его преимущества.</li>
                <li><strong>Представления на конкурс или выставку</strong> – качественный образец привлекает к себе внимание и работает на имидж компании.</li>
                <li><strong>Обучения</strong> – демонстрирует работу станков, оборудования, комплекса в целом, облегчает передачу и понимание профессиональных навыков</li>
                <li><strong>Рекламных целей</strong> – с помощью макетов можно эффективно рекламировать продукцию в течение длительного времени, что ведет к сокращению бюджета на рекламу.</li>
            </ul>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Виды промышленных макетов</h2>
            <p class="f-24 text-center">
                Промышленные макеты востребованы во всех сферах производства. Наиболее часто они демонстрируют производственные комплексы или детали объектов в следующих отраслях промышленности:
            </p>
            <ul>
                <li><strong>Энергетическая</strong> – модели тепло– и гидроэлектростанций, атомных станций, газовых котлов, котельных.</li>
                <li><strong>Нефтегазовая</strong> – скважины по добыче нефти и газа, буровые установки, заводы по переработке нефти.</li>
                <li><strong>Утилизация отходов</strong> – мусороперерабатывающие заводы, печи, линии сортировки мусора.</li>
                <li><strong>Водоснабжение</strong> – очистные и водозаборные сооружения, станции очистки воды.</li>
                <li><strong>Сельское хозяйство</strong> – фермы, теплицы, коровники.</li>
            </ul>
            <p class="f-24 text-center">
                Макеты предприятий показывают расположение отдельных цехов, зданий, сооружений на территории, показывают организацию технического процесса, макеты промышленного оборудования (станков, установок, турбин, отдельных механизмов) наглядно знакомят с их устройством.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Особенности изготовления</h2>
            <p class="f-24 text-center">
                Промышленный макет является одним из самых трудоемких. При его изготовлении специалисты должны знать особенности каждого компонента, их роли в общей конструкции.
            </p>
            <ul>
                <li>Каждая деталь такого макета должна быть правильно подобрана и прорисована.</li>
                <li>Многие детали должны быть показаны в разрезе, требуется вырез четверти элемента.</li>
                <li>Часто макет предприятия требует использования движущихся элементов.</li>
                <li>Подсветка является их неотъемлемой частью.</li>
                <li>Для показа внутреннего устройства некоторых объектов часто используются прозрачные конструкции.</li>
            </ul>
            <p class="f-24 text-center">
                Неточность недопустима при создании такого макета, поэтому доверять его изготовление нужно только профессионалам. Специалисты <strong>Макетной мастерской «АБ Чертеж»</strong> имеют большой опыт в создании промышленных макетов, высокая квалификация позволяет нам создавать макеты любой степени сложности.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Как создается промышленный макет</h2>
            <ul>
                <li>Сначала мы определяем цель создания, согласовываем с заказчиком масштаб, основные и вспомогательные элементы, степень детализации.</li>
                <li>После согласований создаем трехмерную графическую модель или развертки (выкройки) элементов, вносим окончательные коррективы.</li>
                <li>На основании графической модели изготавливаем детали и монтируем их. Готовый макет размещается на подмакетнике. По желанию заказчика можем дополнительно изготовить защитный купол и кофр для транспортировки.</li>
            </ul>
            <p class="f-24 text-center">
                Современные технологии, включающие сочетание объемной 3D и плоскостной УФ печати на поверхности пластика ПВХ позволяют изготовить прочный промышленный макет с высокой степенью детализации.
            </p>
        </div>

        <div class="divider"></div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать макет в Новосибирске</h2>
            <p class="f-24 text-center">
                Заказать макет в Новосибирске можно в <strong>Макетной мастерской «АБ Чертеж»</strong>. Мы создадим для вас промышленный макет высокого качества с учетом всех пожеланий.
            </p>
            <p class="f-24 text-center">
                Позвоните нам по телефону (383) 263–41–54 или заполните форму обратной связи. Наши менеджеры свяжутся с вами в ближайшее время для уточнения деталей.
            </p>
            <p class="f-24 text-center">
                <strong>Мы всегда на связи. Ждем вас!</strong>
            </p>
        </div>

        <div class="divider"></div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>