<div class="container">
    <div class="row m-sm-3 m-0">
        <ul class="breadcrumbs p-0">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                Макеты
            </li>
            <li>
                {{title}}
            </li>
        </ul>
    </div>
    <div class="row">
        <h2 class=" col-12 f-44 text-center">Промышленный макет</h2>
        <div class="col-12 align-items-center">
            <p class="f-24 text-center">
                Создание объекта начинается с проекта. От того, насколько привлекательным будет проект, зависит скорость его реализации, возможность финансирования. Показать плюсы будущего объекта, тщательно продумать технические моменты его создания помогает промышленный макет.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Что такое промышленный макет</h2>
            <p class="f-24 text-center">
                Промышленный макет – копия предприятия, созданная в уменьшенном масштабе. Такие макеты создают при проектировании комбинатов, фабрик, заводских комплексов. Они могут отображать здания и сооружения в комплексе, инфраструктуру предприятия (общий) или воспроизводить отдельные цеха, котельные, вспомогательные постройки, оборудование (детальный) . Часто общий и детальный макеты сочетаются в одном изделии. Промышленные макеты могут также демонстрировать возможности действующего производства.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Для каких целей создается промышленный макет</h2>
            <p class="f-24 text-center">
                Макет промышленного объекта или отдельных деталей демонстрирует технические и конструктивные особенности. Изготовление макета требуется для:
            </p>
            <ul>
                <li>Презентации – демонстрация возможностей планируемого производственного комплекса помогает привлечь инвестирование и наглядно показать его преимущества.</li>
                <li>Представления на конкурс или выставку – качественный образец привлекает к себе внимание и работает на имидж компании.</li>
                <li>Обучения – демонстрирует работу станков, оборудования, комплекса в целом, облегчает передачу и понимание профессиональных навыков</li>
                <li>Рекламных целей – с помощью макетов можно эффективно рекламировать продукцию в течение длительного времени, что ведет к сокращению бюджета на рекламу.</li>
            </ul>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Виды промышленных макетов</h2>
            <p class="f-24 text-center">
                Промышленные макеты востребованы во всех сферах производства. Наиболее часто они демонстрируют производственные комплексы или детали объектов в следующих отраслях промышленности:
            </p>
            <ul>
                <li>Энергетическая – модели тепло– и гидроэлектростанций, атомных станций, газовых котлов, котельных.</li>
                <li>Нефтегазовая – скважины по добыче нефти и газа, буровые установки, заводы по переработке нефти.</li>
                <li>Утилизация отходов – мусороперерабатывающие заводы, печи, линии сортировки мусора.</li>
                <li>Водоснабжение – очистные и водозаборные сооружения, станции очистки воды.</li>
                <li>Сельское хозяйство – фермы, теплицы, коровники.</li>
            </ul>
            <p class="f-24 text-center">
                Макеты предприятий показывают расположение отдельных цехов, зданий, сооружений на территории, показывают организацию технического процесса, макеты промышленного оборудования (станков, установок, турбин, отдельных механизмов) наглядно знакомят с их устройством.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Особенности изготовления</h2>
            <p class="f-24 text-center">
                Промышленный макет является одним из самых трудоемких. При его изготовлении специалисты должны знать особенности каждого компонента, их роли в общей конструкции.
            </p>
            <ul>
                <li>Каждая деталь такого макета должна быть правильно подобрана и прорисована.</li>
                <li>Многие детали должны быть показаны в разрезе, требуется вырез четверти элемента.</li>
                <li>Часто макет предприятия требует использования движущихся элементов.</li>
                <li>Подсветка является их неотъемлемой частью.</li>
                <li>Для показа внутреннего устройства некоторых объектов часто используются прозрачные конструкции.</li>
            </ul>
            <p class="f-24 text-center">
                Неточность недопустима при создании такого макета, поэтому доверять его изготовление нужно только профессионалам. Специалисты Макетной мастерской «АБ Чертеж» имеют большой опыт в создании промышленных макетов, высокая квалификация позволяет нам создавать макеты любой степени сложности.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Как создается промышленный макет</h2>
            <ul>
                <li>Сначала мы определяем цель создания, согласовываем с заказчиком масштаб, основные и вспомогательные элементы, степень детализации.</li>
                <li>После согласований создаем трехмерную графическую модель или развертки (выкройки) элементов, вносим окончательные коррективы.</li>
                <li>На основании графической модели изготавливаем детали и монтируем их. Готовый макет размещается на подмакетнике. По желанию заказчика можем дополнительно изготовить защитный купол и кофр для транспортировки.</li>
            </ul>
            <p class="f-24 text-center">
                Современные технологии, включающие сочетание объемной 3D и плоскостной УФ печати на поверхности пластика ПВХ позволяют изготовить прочный промышленный макет с высокой степенью детализации.
            </p>
        </div>

        <div class="col-12">
            <h2 class="text-center f-44">Где заказать макет в Новосибирске</h2>
            <p class="f-24 text-center">
                Заказать макет в Новосибирске можно в Макетной мастерской «АБ Чертеж». Мы создадим для вас промышленный макет высокого качества с учетом всех пожеланий.
            </p>
            <p class="f-24 text-center">
                Позвоните нам по телефону (383) 263–41–54 или заполните форму обратной связи. Наши менеджеры свяжутся с вами в ближайшее время для уточнения деталей.
            </p>
            <p class="f-24 text-center">
                Мы всегда на связи. Ждем вас!
            </p>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="form-box">
            {{>form}}
        </div>
    </div>
</div>