<div class="container">
    <div class="row">
        <div class="row m-3">
            <ul class="breadcrumbs">
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    Чертежи
                </li>
                <li>
                    {{title}}
                </li>
            </ul>
        </div>
        <h2 class="col-12 text-center f-32">Готовые чертежи по графическому моделированию и инженерной графике </h2>
        <div class="col-12 mt-3">
            <p class="f-26 text-center">Купите готовые чертежи по графическому моделированию и сэкономьте время!</p>
            <p class="f-26 text-center">Заказ готовых чертежей будет удобен студентам 1–2 курсов вузов. В продаже есть абсолютно все варианты. Такая покупка сэкономит ваше время и обеспечит великолепный результат.</p>
            <p class="f-26 text-center">Для того чтобы купить чертежи, необходимо:</p>
            <ul class="f-26">
                <li>связаться с менеджером и назвать ему тип задания, необходимый вариант и свой электронный адрес;</li>
                <li>по электронной почте будет выслано изображение готового чертежа и реквизиты, по которым производится оплата;</li>
                <li>после оплаты на тот же электронный адрес отсылается готовый чертеж.</li>
            </ul>
            <p class="f-26 text-center">В стоимость входит заполнение основной надписи в соответствии с предоставленными данными. Если необходимы какие–то дополнительные объяснения по построению такого типа чертежей, их можно получить при личном визите в офис в Новосибирске или по телефону.</p>
            <p class="f-26 text-center">Возможно решение нестандартных задач и создание дополнительных чертежей 1 курса, но они будут оплачиваться отдельно. Мы гарантируем сдачу вами задания — при необходимости оно будет бесплатно корректироваться в соответствии с требованиями преподавателя до тех пор, пока за него не выставят конечную отметку. Личные объяснения помогут в том случае, если нужно защищать работу. Если такой необходимости нет, оптимальным вариантом станет доставка по электронной почте.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Проекционные задачи 1, 2, 3</p>
                    <img class="small-image pb-3" src="../images/readydrafts/proekzionnie.webp" alt="proekzionnie" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">Задача 1. По предложенным изображениям построить три вида детали, выполнить необходимые разрезы (ГОСТ2.305), проставить размеры (ГОСТ2.307). Выполнить аксонометрическое изображение детали с четвертным вырезом. Формат А3 - 1 лист (чертеж) - 200р. Задача 2. По предложенным изображениям построить три вида детали, выполнить ломаный разрез (ГОСТ2.305), проставить размеры (ГОСТ2.307) Формат А3 - 1 лист (чертеж) - 200р. Задача 3. По предложенным изображениям построить три вида детали, выполнить необходимые разрезы (ГОСТ2.305), проставить размеры (ГОСТ2.307). Выполнить сечение проецирующей плоскостью заданной преподавателем. Формат А3 - 1 лист (чертеж) - 200р.</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">ВИДЫ СОЕДИНЕНИЯ ДЕТАЛЕЙ - Резьбовые соединения деталей</p>
                    <img class="small-image pb-3" src="../images/readydrafts/rezbovoe.webp" alt="rezbovoe" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">На основании исходных данных (незаконченного чертежа сборочной единицы, описания её устройства, незаконченной спецификации и методических указаний) необходимо: -изучить принцип действия предложенной сборочной единицы; -закончить чертеж сборочной единицы согласно методическим указаниям; -закончить спецификацию сборочной единиц</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Соединение деталей клейкой или пайкой </p>
                    <img class="small-image pb-3" src="../images/readydrafts/kleyka.webp" alt="kleyka" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">На основании исходных данных необходимо: - выбрать метод соединения деталей (склеиванием или пайкой); -подобрать материал клеящего вещества (марку клея) или припоя (марку припоя) по соответствующим нормативным документам (ГОСТам, ТУ, инструкциям) -выполнить чертеж сборочной единицы; -составить спецификацию сборочной единицы. Формат А4 - 1 лист (чертеж) - 150р. формат А4 - 1 лист (спецификация) 100р</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Сварные соединения деталей</p>
                    <img class="small-image pb-3" src="../images/readydrafts/svarnie.webp" alt="svarnie" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">На основании исходных данных (чертежа детали изготавливаемой литьём) необходимо: - разработать конструкцию сварной сборочной единицы взамен литой детали; - выбрать тип шва и метод сварки для соединения полученных деталей; - выполнить чертеж сборочной единицы; - составить спецификацию сборочной единицы; - выполнить деталировку. Формат А3 - 1 лист (чертеж) - 200р. формат А4 - 1 лист (спецификация) 100р Деталирование каждый лист 150р. (зависит от количества деталей)</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Чертежи армированных изделий </p>
                    <img class="small-image pb-3" src="../images/readydrafts/armirovanie.webp" alt="armirovanie" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">На основании исходных данных необходимо: - разработать конструкцию неразъемной сборочной единицы - армированного изделия; - выполнить чертеж армированного изделия; - составить спецификацию; - выполнить чертеж арматуры. Формат А4 - 1 лист (чертеж) - 200р. формат А4 - 1 лист (спецификация) 100р</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Электрическая схема</p>
                    <img class="small-image pb-3" src="../images/readydrafts/electricheskaya.webp" alt="electricheskaya" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">Оформить электрическую принципиальную схему и перечень элементов (согласно варианту) по предложенной схеме и описанию к ней в соответствии с требованиями ГОСТ 2.701–…, ГОСТ 2.702–…, ГОСТ 2.722–…, ГОСТ2.723–…, ГОСТ 2.725–…, ГОСТ 2.727–…, ГОСТ 2.747–…, ГОСТ 2.755–…</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Точка, прямая, плоскость </p>
                    <img class="small-image pb-3" src="../images/readydrafts/tochka.webp" alt="tochka" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">Формат А3 - 2 чертежа. 150р. каждый лист.</p>
                </div>
            </div>
        </div>
        <div class="col-12 mb-5 border">
            <div class="row">
                <div class="col-md-3 col-12">
                    <p class="text-center p-1 pt-3 font-weight-bold">Преобразование ортогональных проекций</p>
                    <img class="small-image pb-3" src="../images/readydrafts/preobrazovanie.webp" alt="preobrazovanie" width="100%" class="pb-3">
                </div>
                <div class="col-md-9 col-12 my-auto">
                    <p class="text-md-right text-center p-3">6 задач на 2 листах формата А3. 150р. каждый лист.</p>
                </div>
            </div>
        </div>
    </div>

</div>