@import url('normalize.css');
@import url('fonts.css');
@import url('styles/font-sizes.css');
@import url('bootstrap/css/bootstrap.min.css');
@import url('styles/carousel.css');
@import url('styles/navbar.css');
@import url('styles/main.css');
@import url('styles/contacts.css');
@import url('styles/advantage.css');
@import url('styles/form.css');
@import url('styles/footer.css');
@import url('styles/media.css');

span.underline, p.underline {
    border-bottom: #DE1B1B solid 4px;
    border-radius: 10px;
}

span.rl-line {
    padding: 0 10px;
    border-left: #DE1B1B solid 2px;
    border-right: #DE1B1B solid 2px;
    border-radius: 10px;
}

.divider{
    margin: 50px 0;
    width: 100%;
    height: 2px;
    background-color: #DBDBDB;
    border-radius: 2px;
}

.l-0 {
    left: 0;
}

li::marker{
    color: #DE1B1B;
}