.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23de1b1b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23de1b1b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: #DE1B1B;
}

.arch-carousel{
    height: 700px;
}

.arch-carousel img{
    height: 700px;
    width: 100%;
    object-fit: contain;
}

#firstCarousel {
    width: 80%;
}

.home-carousel {
    max-height: 550px;
}

.home-carousel img{
    max-height: 550px;
    object-fit: cover;
    object-position: 65% 85%;
}

#firstCarousel .carousel-indicators {
    bottom: -20px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: #DE1B1B #ffffff;
}
.scrolling-wrapper::-webkit-scrollbar {
    display: none
}

.scrolling-wrapper img {
    margin: 0 6px;
    flex: 0 0 auto;
}

.scrolling-wrapper img:first-child {
    margin-left: 0;
}
.scrolling-wrapper img:last-child {
    margin-right: 0;
}

.scrolling-wrapper::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
.scrolling-wrapper::-webkit-scrollbar-track {
    background: #ffffff;        /* цвет дорожки */
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #DE1B1B;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #ffffff;  /* padding вокруг плашки */
}

.full-img-wrapper {
    height: 350px;
}

.portfolio .carousel-control-next, .portfolio .carousel-control-prev {
    position: relative;
}

.portfolio .carousel-control-next-icon, .portfolio .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}
.scrolling-img {
    cursor: pointer;
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.all-image {
    display: flex;
    height: 300px;
    border: 2px solid #000000;
    transition: 0.3s;
}

.all-image:before {
    content: "";
    position: absolute;
    top: 6px;
    right: 21px;
    bottom: 6px;
    left: 21px;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.all-image-text{
    text-align: center;
    font-size: 24px;
    padding: 23px;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 20%;
    opacity: 0;
    transition: 0.3s;
    z-index: 5;
}

.all-image-href:hover p {
    opacity: 1;
}

.all-image-href {
    cursor: pointer;
}

.all-image:hover:before{
    opacity: 1;
}

.all-image img{
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
}

.scrolling-wrapper {
    position: relative;
}

.scrolling-arrow-left {
    position: absolute;
    padding: 34px 5px 35px 10px;
    left: 0;
    cursor: pointer;
    transition: 0.3s;
    bottom: 0;
}

.scrolling-arrow-right {
    position: absolute;
    padding: 34px 10px 34px 5px;
    right: 0;
    cursor: pointer;
    transition: 0.3s;
    bottom: 0;
}

.scrolling-arrow-left:hover {
    background: rgba(0, 0, 0, 0.3);
}

.scrolling-arrow-right:hover {
    background: rgba(0, 0, 0, 0.3);
}

.scrolling-arrow-left img, .scrolling-arrow-right img{
    width: 20px;
}

.small-image {
    object-fit: cover;
}