.contacts ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacts ul li{
    padding: 5px;
}

.contacts ul li span{
    margin-right: 5px;
    width: 35px;
}

.contacts ul li span img{
    width: 35px;
}

.contacts-map{
    width: 70%;
}

.contacts a{
    text-decoration: none;
    color: #000000;
}

.contacts a:hover{
    text-decoration: none;
    color: #DE1B1B;
}