@media (max-width: 1199px) {
    .advantage-plus {
        width: 230px;
    }
}

@media (max-width: 767px) {
    .f-26 {
        font-size: 20px;
    }
    .advantage-plus {
        width: 400px;
        padding: 20px 20px;
    }
}

@media (max-width: 575px) {

}

@media (max-width: 380px) {

}