.second-slider{
    height: 500px;
}

.img-tab{
    width: 100px;
    height: 100px;
}

.tabs-scroll{
    max-width: 500px;
    height: 120px;
    overflow: auto;
    white-space:nowrap;
}

.nav-item{
    display: inline-block;
}

.portfolio-tabs a{
    color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #DE1B1B;
}

.red-underline {
    border-bottom: 1px solid #DE1B1B;
}

#pills-tab .nav-link {
    padding: .5rem 0.7rem;
}